<header>
  <ul id ="encabezado" >
    <li id="fotoUT"><a><img src="assets/img/logo-ut.jpeg" alt="menu" width="50" height="48"></a></li>
    <li id="titulo">Universidad Tecnológica</li>
    <nav id="buscador">
      <li><a class="vinculo" routerLink=""  routerLinkActive="active"  style="color: white"> Home</a></li>
      <li><a class="vinculo" routerLink="sobrenosotros" routerLinkActive="active" style="color: white"> Sobre nosotros</a></li>
      <li><a class="vinculo" routerLink="grados" routerLinkActive="active"  style="color: white"> Grados</a></li>
      <li><a class="vinculo" routerLink="login" routerLinkActive="active"  style="color: white" id="toLogin"> Login</a></li>
    </nav>
  </ul>
</header>

<nav>
  <ul id="buscador_movil">
    <li><a class="vinculo" routerLink="" routerLinkActive="active"  > Home</a></li>
    <li><a class="vinculo" routerLink="sobrenosotros" routerLinkActive="active" > Sobre nosotros</a></li>
    <li><a class="vinculo" routerLink="grados"  routerLinkActive="active" > Grados</a></li>
    <li><a class="vinculo" routerLink="login" routerLinkActive="active" > Login </a></li>
  </ul>
</nav>
