<header>
  <ul id ="encabezado" >
    <li id="fotoUT"><a><img src="assets/img/logo-ut.jpeg" alt="menu" width="50" height="48"></a></li>
    <li id="titulo">Universidad Tecnológica</li>
    <nav id="buscador">
      <li><a class="vinculo" href="index.html" style="color: white"> Home</a></li>
      <li><a class="vinculo" href="sobrenosotros.html" style="color: white"> Sobre nosotros</a></li>
      <li><a class="vinculo" href="grados.html" style="color: white"> Grados</a></li>
      <li><a class="vinculo" href="login.html" style="color: white" id="toLogin"> Login</a></li>
    </nav>
  </ul>
</header>

<nav>
  <ul id="buscador_movil">
    <li><a class="vinculo" href="index.html" > Home</a></li>
    <li><a class="vinculo" href="sobrenosotros.html"> Sobre nosotros</a></li>
    <li><a class="vinculo" href="grados.html" > Grados</a></li>
    <li><a class="vinculo" href="login.html"> Login </a></li>
  </ul>
</nav>
