<footer>
  <section id="dir">
    <div id="dir2">
      <h2>Dirección</h2>
      <ul id = direccion>
        <li>Calle Las Palmas nº 12, Las Palmas de Gran Canaria </li>
        <li>Edificio Educación Tecnológica</li>
      </ul>
    </div>
    <img id="mapa" src="assets/img/mapa.jpeg" alt="imagen" width="378" height="172">
  </section>

  <section id="cont">
    <h2>Contacto</h2>
    <ul id="contacto">
      <li>Correo: abcdef@universidadtecnologica.net</li>
      <li>Tel: +346559835642</li>
      <li>Fax: 9285657241</li>
    </ul>
  </section>
</footer>
